
@import "fonts.css";

html {
    background-color:       white;
    font-family:            "cormorantlight";
    font-size:              14pt;
}

@media print {
    html {
        font-size:      12pt;
    }
}

#top-ornament {
    -webkit-user-select:    none;
    color:                  #000000;
    font-family:            'floraliaregular';
    font-size:              60pt;
    margin-top:             20pt;
    text-align:             center;
    user-select:            none;
}

a {
    background-color:       #abe8ff;
    color:                  black;
    font-weight:            normal;
    padding-left:           0.13em;
    padding-right:          0.15em;
    text-decoration:        none;
}

a:visited {
    background-color:       #afabff;
}

body {
    counter-reset:      h2counter h1counter;
    margin:             auto;
    max-width:          450pt;
    padding-left:       30pt;
    padding-right:      30pt;
}

@media print {
    body {
        padding-left:       3cm;
        padding-right:      3cm;
    }
}

i {
    font-family:    "cormorantlight_italic";
}

p {
    line-height:    1.4;
    text-align:     justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family:    "Avenir";
    font-weight:    400;
}

h1 {
    counter-increment:      h1counter;
    counter-reset:          h2counter;
}

h1:first-child {
    margin:         3rem 0 4rem 0;
    margin-top:     20pt;
    text-align:     center;
}

h2 {
    border-top:         1px solid black;
    clear:              both;
    font-family:        "Avenir-Light";
    font-size:          8pt;
    letter-spacing:     10pt;
    margin:             40pt 0 15pt 0;
    padding-top:        0.3em;
    text-align:         right;
    text-transform:     uppercase;
}

/* h2:before {
 border-radius:          100pt;
 color:                  #aaa;
 content:                counter(h1counter) "/" counter(h2counter);
 counter-increment:      h2counter;
 float:                  left;
 font-family:            "Hasklig-Medium";
 font-size:              7pt;
 letter-spacing:         normal;
 margin-left:            5pt;
 padding-bottom:         6pt;
 }*/

/* h2:before {
 content:    "â›";
 }*/

b, strong {
    background-color:       #FFF8AB;
    font-weight:            normal;
    padding-left:           0.13em;
    padding-right:          0.15em;
}

table {
    border-collapse:    separate;
    border-color:       black;
    border-spacing:     2px;
    display:            table;
}

li {
    list-style-type:    upper-roman;
    margin-bottom:      0.7rem;
}

thead {
    border-color:       black;
    display:            table-header-group;
    vertical-align:     middle;
}

tbody > tr > td {
    padding-right:      5pt;
}

pre {
    background-color:       #f7f7f7;
    border-radius:          3pt;
    padding:                7pt 12pt 8pt 12pt;
}

code {
    font-family:    "Hasklig-Medium";
    font-size:      0.8rem;
}

.kary-logo {
    height:         50pt;
    opacity:        0.1;
    text-align:     right;
    width:          50pt;
}

@media print {
    h1 {
        page-break-before:      always;
    }

    h1:first-child {
        page-break-before:      avoid !important;
    }
}

.title-ornament-container {
    display:        flex;
    max-width:      fit-content;
}

.title-ornament-container > h1 {
    align-self:         center;
    font-size:          1.7cm;
    margin:             1.2cm 0 1.2cm 0;
    text-transform:     capitalize;
    width:              fit-content;
}

.title-ornament {
    height:     3cm;
    width:      3cm;
}

.title-left-ornament {
    align-self:     flex-end;
    position:       relative;
    right:          -2.5cm;
}

.title-right-ornament {
    align-self:     flex-start;
    left:           -2.5cm;
    position:       relative;
}

.title-author {
    text-align:     center;
}

right {
    display:        block;
    text-align:     right;
    width:          100%;
}

kary-signature {
    background-image:       url('./signeture.png');
    background-position:    right center;
    background-repeat:      no-repeat;
    background-size:        contain;
    display:                block;
    height:                 80pt;
    width:                  100%;
}

img {
    max-width:      100%;
}
