
/*
 * ─── IMPORTS ────────────────────────────────────────────────────────────────────
 */

    @import "fonts.css";

/*
 * ─── BASE ───────────────────────────────────────────────────────────────────────
 */

    html {
        background-color:       white;
        font-family:            'cormorant-regular-weight', 'computer-modern-regular-serif', "HiraMinProN-W3";
        font-size:              14pt;
    }

    @media print {
            html {
                font-size:      12pt;
            }
    }

    #top-ornament {
        -webkit-user-select:    none;
        color:                  #000000;
        font-family:            'floraliaregular';
        font-size:              60pt;
        margin-top:             20pt;
        text-align:             center;
        user-select:            none;
    }

/*
 * ─── LINKS ──────────────────────────────────────────────────────────────────────
 */

    a {
        color:              black;
        font-weight:        normal;
        padding-left:       0.13em;
        padding-right:      0.15em;
        text-decoration:    none;
        padding-bottom:     2px;
        border-bottom:      1px solid black;
    }

/*
 * ─── BODY ───────────────────────────────────────────────────────────────────────
 */

    body {
        counter-reset:      h2counter h1counter;
        margin:             auto;
        max-width:          450pt;
        padding-left:       30pt;
        padding-right:      30pt;
    }

    @media print {
            body {
                padding-left:       3cm;
                padding-right:      3cm;
            }
    }

/*
 * ─── ITALIC ─────────────────────────────────────────────────────────────────────
 */

    i {
        font-family:    "Cormorant-Italic";
    }

/*
 * ─── PARENTHESIS ────────────────────────────────────────────────────────────────
 */

    p {
        line-height:    1.5;
        text-align:     justify;
    }

/*
 * ─── HEADERS ────────────────────────────────────────────────────────────────────
 */

    h1, h2, h3, h4, h5, h6 {
        font-family:    "Avenir";
        font-weight:    400;
    }

    h1 {
        font-family:            'computer-modern-sans-serif-demi-condensedt';
        line-height:            1.3;
        counter-increment:      h1counter;
        counter-reset:          h2counter;
        margin-left:            3rem;
        margin-right:           3rem;
    }

    h1:first-child {
        margin-top:         2rem;
        margin-bottom:      4rem;
        margin-top:         20pt;
        text-align:         center;
    }

    h2 {
        border-top:         1px solid black;
        clear:              both;
        font-family:        "Avenir-Light";
        font-size:          0.8rem;
        letter-spacing:     0.8rem;
        margin:             40pt 0 15pt 0;
        padding-top:        0.3em;
        text-align:         right;
        text-transform:     uppercase;
    }

/* h2:before {
 border-radius:          100pt;
 color:                  #aaa;
 content:                counter(h1counter) "/" counter(h2counter);
 counter-increment:      h2counter;
 float:                  left;
 font-family:            "Hasklig-Medium";
 font-size:              7pt;
 letter-spacing:         normal;
 margin-left:            5pt;
 padding-bottom:         6pt;
 }*/

/* h2:before {
 content:    "❛";
 }*/

/*
 * ─── BOLD ───────────────────────────────────────────────────────────────────────
 */

    b, strong {
        background-color:       #FFF8AB;
        font-weight:            normal;
        padding-left:           0.13em;
        padding-right:          0.15em;
    }

/*
 * ─── TABLE ──────────────────────────────────────────────────────────────────────
 */

    table {
        border-collapse:    separate;
        border-color:       black;
        border-spacing:     2px;
        display:            table;
    }

    li {
        list-style-type:    upper-roman;
        margin-bottom:      0.7rem;
    }

    thead {
        border-color:       black;
        display:            table-header-group;
        vertical-align:     middle;
    }

    tbody > tr > td {
        padding-right:      5pt;
    }

/*
 * ─── CODE ───────────────────────────────────────────────────────────────────────
 */

    pre {
        background-color:       #f7f7f7;
        border-radius:          3pt;
        padding:                7pt 12pt 8pt 12pt;
    }

    code {
        font-family:    "Hasklig-Medium";
        font-size:      0.8rem;
    }

/*
 * ─── QUOTES ─────────────────────────────────────────────────────────────────────
 */

    blockquote {
        padding:                0.1rem 1.2rem 0.1rem 1.2rem;
        margin:                 1rem 1.5rem 1rem 1.5rem !important;
        background-color:       aliceblue;
    }

/*
 * ─── KARY LOGO ──────────────────────────────────────────────────────────────────
 */

    .kary-logo {
        height:         50pt;
        opacity:        0.1;
        text-align:     right;
        width:          50pt;
    }

    @media print {
            h1 {
                page-break-before:      always;
            }

            h1:first-child {
                page-break-before:      avoid !important;
            }
    }

/*
 * ─── TITLE ORNAMENT ─────────────────────────────────────────────────────────────
 */

    .title-ornament-container {
        display:        flex;
        max-width:      fit-content;
    }

    .title-ornament-container > h1 {
        align-self:         center;
        font-size:          1.7cm;
        margin:             1.2cm 0 1.2cm 0;
        text-transform:     capitalize;
        width:              fit-content;
    }

    .title-ornament {
        height:     3cm;
        width:      3cm;
    }

    .title-left-ornament {
        align-self:     flex-end;
        position:       relative;
        right:          -2.5cm;
    }

    .title-right-ornament {
        align-self:     flex-start;
        left:           -2.5cm;
        position:       relative;
    }

    .title-author {
        text-align:     center;
    }

/*
 * ─── RIGHT ──────────────────────────────────────────────────────────────────────
 */

    right {
        display:        block;
        text-align:     right;
        width:          100%;
    }

/*
 * ─── KARY SIGNATURE ─────────────────────────────────────────────────────────────
 */

    kary-signature {
        background-image:       url('./signeture.png');
        background-position:    right center;
        background-repeat:      no-repeat;
        background-size:        contain;
        display:                block;
        height:                 80pt;
        width:                  100%;
    }

/*
 * ─── SUB AND SUP ────────────────────────────────────────────────────────────────
 */

    sub {
        vertical-align:     baseline;
        position:           relative;
        top:                +0.4em;
    }

    sup {
        vertical-align:     baseline;
        position:           relative;
        top:                -0.4em;
    }

/*
 * ─── IMAGE ──────────────────────────────────────────────────────────────────────
 */

    img {
        max-width:      100%;
        margin:         1rem;
    }

/* ──────────────────────────────────────────────────────────────────────────────── */
