<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>us.kary.ia-templates.classic</string>
	<key>CFBundleName</key>
	<string>Kary Classic ✤</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>IATemplateDocumentFile</key>
	<string>document</string>
	<key>IATemplateFooterFile</key>
	<string>footer</string>
	<key>IATemplateFooterHeight</key>
	<integer>90</integer>
	<key>IATemplateHeaderHeight</key>
	<integer>90</integer>
	<key>IATemplateDescription</key>
	<string>Pouya Kary's Classic Template</string>
	<key>IATemplateAuthor</key>
	<string>Pouya Kary</string>
	<key>IATemplateAuthorURL</key>
	<string>http://kary.us/</string>
</dict>
</plist>